section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: whitesmoke;
}
.heading {
  padding-bottom: 30px;
  padding-top: 30px;
}
.heading h1 {
  font-weight: bolder;
  font-size: xx-large;
  color: #505050;
}
.heading p {
  color: #808080;
  line-height: 27px;
}

.bg-white {
  background-color: white;
  margin: 70px;
}

button {
  margin: 8px;
}

.btn-send {
  background-color: #6ccae9;
  color: white;
  height: 50px;
  width: 160px;
  font-weight: bolder;
  font-size: medium;
}
.btn-reset {
  color: gray;
  height: 50px;
  width: 160px;
  border: solid 2px gray;
  font-weight: bolder;
  font-size: medium;
}

button:disabled {
  background-color: gray;
  color: white;
}
