section {
  padding-top: 100px;
  padding-bottom: 100px;
  /* background-color: whitesmoke; */
}

.heading {
  padding-bottom: 30px;
}
.heading h1 {
  font-weight: bolder;
  font-size: xx-large;
  color: #505050;
}

.layout {
  margin: 10px;
}
