section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #443d36;
  color: #fff;
}
.heading {
  padding-bottom: 30px;
}
.heading h1 {
  font-weight: bolder;
  font-size: xx-large;
  color: #fff;
}
.heading p {
  color: #fff;
}
