.bg-img {
  background-image: url(../../../assets/banner.svg);
  background-repeat: repeat-x;
  background-position: 25%;
  background-color: #443d36;
  background-size: 900px 180px;
  height: 700px;
  color: #fff;
  text-align: center;
  margin-bottom: -253px;
  margin-top: -40px;
}
.content h1 {
  padding: 0;
  font-size: -webkit-xxx-large;
  font-style: normal;
  font-weight: bold;
}
.content h4 {
  padding: 0;
  font-size: x-large;
  font-style: normal;
  font-weight: bold;
  color: #6ccae9;
}
.content button {
  color: #fff;
  background-color: #6ccae9;
  height: 45px;
  width: 200px;
  font-size: larger;
  font-weight: bolder;
}
.content {
  transform: translateY(100px);
}
