section {
  background-color: whitesmoke;
  height: 100vh;
}
h3 {
  padding: 0;
}
.bg-white {
  margin-right: 100px;
  margin-left: 100px;
  background-color: white;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
}

mat-form-field {
  margin: 10px;
}
button {
  width: 160px;
}
